@import "../../../assets/scss/variables.scss";

.main-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px 40px;
    text-align: right;
    background: $white;
    z-index: 3;
    @media screen and (max-width:1400px) {
        padding: 15px 30px;
    }
    a{
        font-size: 12px;
        padding: 0 20px;
        &:hover {
            color: $primary-color;
            font-weight: 500;
        }
    }
}